body{
    background-image: linear-gradient(to bottom right, rgb(175, 179, 252), rgb(0, 0, 171), purple, rgb(241, 113, 250)); 
    font-family: 'Onest', sans-serif; 
    font-family: 'Pixelify Sans', sans-serif; 
    font-family: 'Playpen Sans', cursive; 
    font-family: 'VT323', monospace;
}